.store-address {
  font-size: 21px;
  color: #514c4c;
  margin-top: 30px;
}

.store-container {
  border-bottom: 1px solid #979797;
  display: flex;
}

.store-info-container {
  flex-grow: 1;
}

.store-number-container {
  display: flex;
  align-items: center;
}

.store-number {
  width: 30px;
  height: 30px;
  background-color: #454e53;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-address span {
  display: block;
}

.store-phone-number {
  color: #b5adad;
  margin-top: 15px;
  margin-bottom: 15px;
}

.store-container-background {
  display: flex;
  flex-grow: 1;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 18px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* overflow: hidden; */
}
